H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TT {
	FONT-SIZE: small; FONT-FAMILY: Fixed,Courier,Clean,monospace
}
PRE {
	FONT-SIZE: small; FONT-FAMILY: Fixed,Courier,Clean,monospace
}
CODE {
	FONT-SIZE: small; FONT-FAMILY: Fixed,Courier,Clean,monospace
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
